<p>
  <strong>Listar: <%= link_to 'all', :action => 'index', :id => '' %>,
  <%= link_to 'abierto', :action => 'index', :id => 'open' %>,
  <%= link_to 'procesados', :action => 'index', :id => 'processed' %>,
  <%= link_to 'cerrado', :action => 'index', :id => 'closed' %>,
  <%= link_to 'fallado', :action => 'index', :id => 'failed' %></strong>
</p>
