<p>
  <strong>Listar: <%= link_to 'todos', :action => 'index', :id => '' %>,
  <%= link_to 'abiertos', :action => 'index', :id => 'open' %>,
  <%= link_to 'procesados', :action => 'index', :id => 'processed' %>,
  <%= link_to 'cerrados', :action => 'index', :id => 'closed' %>,
  <%= link_to 'fallados', :action => 'index', :id => 'failed' %></strong>
</p>
