<h2>Información de contacto</h2>
<dl>
  <dt>E-mail</dt>
  <dd><%= @order.email %></dd>
  <dt>Numero de teléfono</dt>
  <dd><%= @order.phone_number %></dd>
</dl>

<h2>Direccción de envio</h2>
<dl>
  <dt>Nombre</dt>
  <dd><%= @order.ship_to_first_name %></dd>
  <dt>Apellidos</dt>
  <dd><%= @order.ship_to_last_name %></dd>
  <dt>Dirección</dt>
  <dd><%= @order.ship_to_address %></dd>
  <dt>Ciudad</dt>
  <dd><%= @order.ship_to_city %></dd>
  <dt>Código postal</dt>
  <dd><%= @order.ship_to_postal_code %></dd>
  <dt>Pais</dt>
  <dd><%= Country.find_country_by_alpha2(@order.ship_to_country_code).name %></dd>
</dl>

<h2>Detalles del pedido</h2>
<% for item in @order.order_items %>
  <%= link_to item.movie.title, :controller => 'movie', :action => 'show', :id => item.movie.id %>
  <%= pluralize(item.amount, "pelicula", "peliculas") %>, <%= item.price * item.amount %> € <br/>
<% end %>

<p><strong>Order total <%= @order.total %> €</strong></p>

<h2>Estado del pedido</h2>
<dl>
  <dt>Estado</dt>
  <%

  case @order.status
    when 'all'
      @status = 'todo'
    when "open"
      @status = 'abierto'
    when "processed"
      @status = 'procesado'
    when "closed"
      @status = 'cerrado'
    when "failed"
      @status = 'fallado'
    end

  %>
  <dd><%= @status[0].capitalize + @status[1..@status.length-1] %></dd>
  <% if @order.failed? %>
    <dt>Error</dt>
    <dd><%= @order.error_message %></dd>
  <% end %>
</dl>

<% if !@order.closed? %> <p></p> <% end %>
<%= button_to 'Cerrar pedido', {:action => 'close', :id => @order},
    data: { confirm: "Está seguro que quiere cerrar el pedido #{@order.id}?" } if @order.processed? %>

  <%= button_to 'Borrar pedido', {:action => 'destroy', :id => @order},
    data: { confirm: "Está seguro que quiere borrar el pedido #{@order.id}?" } %>
<%= render :partial => 'navigation' %>
