<table>
  <tr>
    <th><a href="?sort_by=producer_id">Productor</a></th>
    <th><a href="?sort_by=title">Título</a></th>
    <th><a href="?sort_by=serial_number">Número de Serie</a></th>
    <th colspan="3"></th>
  </tr>


<% @movies.each do |movie| %>
  <tr>
    <td><%= h movie.producer.name %></td>
    <td><%= h movie.title %></td>
    <td><%= h movie.serial_number %></td>
    <td><%= link_to 'Mostrar', :action => 'show', :id => movie %></td>
    <td><%= link_to 'Editar', :action => 'edit', :id => movie  %></td>
    <td><%= button_to 'Borrar', { :action => 'destroy', :id => movie },
                      data: { confirm: "¿Está seguro de que desea eliminar la película #{movie.title}?" } %></td>
  </tr>
<% end %>


</table>
<br/>
<%= will_paginate @movies, :page_links => false, :link_separator => ' | ',
                          :previous_label => 'Página anterior', :next_label => 'Página siguiente' %>

<p><%= link_to 'Añadir pelicula', :action => 'new' %></p>
