<dl>
  <dt>Title</dt>
  <dd><%= @movie.title %></dd>
  <dt>Productor</dt>
  <dd><%= @movie.producer.name %></dd>
  <dt>Producido el</dt>
  <dd><%= @movie.produced_at.strftime("%d/%m/%Y at %I:%M%p") %></dd>
  <dt>Director</dt>
  <dd><%= @movie.director_names %></dd>
  <dt>ISBN</dt>
  <dd><%= @movie.serial_number %></dd>
  <dt>Descripcion</dt>
  <%= RedCloth.new(@movie.blurb).to_html.html_safe if @movie.blurb %>
  <dt>Precio</dt>
  <dd><%= @movie.price %></dd>
  <dt>Duración</dt>
  <dd><%= @movie.length %></dd>
  <dt>Portada</dt>
  <% if @movie.cover_image.exists? then %>
    <dd><%= image_tag @movie.cover_image.url %></dd>
  <% else %>
    <dd><%= image_tag '/missing.png' %></dd>
    <p> No se ha adjuntado imagen de portada. Por favor, suba una imagen. </p>
  <% end %>
</dl>

<%= link_to 'Editar', :action => 'edit', :id => @movie %> |
<%= link_to 'Volver', :action => 'index' %>
