<h2>de <%=@movie.director_names %></h2>
<% if @movie.cover_image.exists? then %>
  <dd><%= image_tag @movie.cover_image.url %></dd>
<% else %>
  <p>Imagen de portada no disponible.</p>
<% end %>
<dl>
  <dt>Precio</dt>
  <dd><%= sprintf("%0.2f", @movie.price) %></dd>
  <dt>Duracion</dt>
  <dd><%= @movie.length %></dd>
  <dt>Productor</dt>
  <dd><%= @movie.producer.name %></dd>
  <dt>Descripción</dt>
  <%= RedCloth.new(@movie.blurb).to_html.html_safe if @movie.blurb %>
</dl>

<p><%= link_to 'Catálogo', :action => 'index' %> </p>
